/*
 * Customization for HC-OffCanvas Menu
 */

$hc-offcanvas-nav-transition-duration: .15s;
$hc-offcanvas-nav-transition-timing-function: linear;

@import 'hc-offcanvas-nav/src/scss/core';
@import 'hc-offcanvas-nav/src/scss/theme-carbon';
@import './hacks.scss';
@import './customizer.scss';
@import './search.scss';
@import './social.scss';

// Prevent body from losing its height when hc-nav disables it
body.hc-nav-open {
	min-height: auto;
}

.masthead .menu-container .hamburger::after {
	// Make hamburger background match menu
	background-color: var(--#{$PREFIX}-color-main_menu-background);
	// Disable transition delay on hamburger background
	transition-delay: 0s;
	// Hamburger background expands right to left
	width: 0%;
	right: 0;
	left: auto;
	transition: width .07s linear;
}
	.masthead .menu-container .hamburger.is-active:after {
		width: 100%;
	}

.hc-offcanvas-nav {

	font-size: .8rem;

	@include phone {
		font-size: 1rem;
	}

	// Open below fixed masthead
	&,& .nav-container {
		display: flex;
		flex-direction: column;

		// needed to fix minification error
		--wp-admin-bar-height: -1px;
		--menu-height: calc(var(--vh100) - var(--#{$PREFIX}-masthead-height));
		top: calc(var(--#{$PREFIX}-masthead-height) + var(--wp-admin-bar-height));
		height: calc(var(--menu-height) - var(--wp-admin-bar-height));
		z-index: 199;

		body.admin-bar & {
			--wp-admin-bar-height: 32px;

			@media screen and (max-width: 782px) {
				--wp-admin-bar-height: 46px;
			}
		}
	}

	ul.menu {
		display: flex;
		flex-direction: column;
	}

	&.has-social-menu .nav-wrapper-0 > .nav-content {
		padding-bottom: 3em;
	}

	.nav-custom-content {
		padding: inherit;
		font-size: inherit;
	}

	// Ensure close button doesn't show
	.nav-close {
		display: none;
	}

	// Blur levels in the background
	.level-open::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		backdrop-filter: blur(.045em) brightness(0.65);
		z-index: 999;
	}

	// Add a shadow to each level
	.nav-wrapper {
		box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 0.4) !important;
	}

	// Force background overlay below fixed masthead
	&.disable-body::after {
		z-index: -1;
	}

	// Backdrop when disabling body
	&:after, .nav-wrapper:after {
		background: linear-gradient(0deg, var(--#{$PREFIX}-color-brand) -150%, rgba(0, 0, 0, 0.3) 100%);
	}

	// Align menu to the masthead hamburger
	&.nav-open {
		& .nav-container {
			@media (min-width: $width-max) {
				right: calc(50% - (#{$width-max} / 2) - 0.6px);
			}
		}
	}

	// Level titles
	.nav-content {
		h2, h3, h4, h5, h6 {
			padding: .75em .75em 0;
		}

		.level-title {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 99%, var(--#{$PREFIX}-color-main_menu-foreground) 100%);
			padding: .75em 0;
		}
	}

	// Highlight current page
	.nav-highlight>.nav-item-wrapper .nav-item-link {
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -50%, var(--#{$PREFIX}-color-highlight) 1500%);
		text-shadow: 1px 1px 1px var(--#{$PREFIX}-color-main_menu-background);
	}

	// Divider for links with submenues
	a.nav-next:before {
		background-color: var(--#{$PREFIX}-color-main_menu-foreground);
		opacity: 0.3;
	}

	// Differentiate back links
	.nav-back {
		//margin-bottom: .25em;
		//padding-bottom: .25em;

		a {
			opacity: 0.8;
			padding-left: 40px;
		}

		span {
			position: absolute;
			left: 0;
		}
	}

	// Bottom nav area
	ul.menu-bottom {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: var(--#{$PREFIX}-color-main_menu-background);
		//background-image: linear-gradient(180deg, var(--#{$PREFIX}-color-main_menu-foreground) 0%, rgba(0, 0, 0, 0) 1.5%);

		&::before {
			content: '';
			background-image: linear-gradient(0, var(--#{$PREFIX}-color-main_menu-background), transparent);
			height: 1.25em;
			position: absolute;
			top: -1.25em;
			width: 100%;
		}

		.affiliate-login {
			display: block;
			background: rgba(0,0,0,0.5);
			color: var(--#{$PREFIX}-color-main_menu-foreground);
			letter-spacing: .03em;
			line-height: 1;
			font-size: .8em;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding: 1em .5em;
			opacity: 0.8;

			&::before {
				content: '\1F512\00FE0E';
				color: transparent;
				text-shadow: 0 0 1px var(--#{$PREFIX}-color-main_menu-foreground);
				margin-right: .5em;
			}

			@include phone {
				//font-size: .8em;
			}

			@include hover {
				background: var(--#{$PREFIX}-color-main_menu-foreground-hover_background);
				opacity: 1;
			}
		}
	}

}
