.hc-offcanvas-nav .social {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 99%, var(--#{$PREFIX}-color-main_menu-foreground) 102%);
	padding-top: .5em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	text-align: center;

	li {
		display: inline-block;
		font-size: 1.5rem;
	}
	a {
		background-color: var(--#{$PREFIX}-color-main_menu-foreground);
		transition: all .2s !important;
	}
}