@supports (backdrop-filter: blur(0.25em)) {
	body > .masthead {
		backdrop-filter: blur(0.25em);
	}
}

body > .masthead .logo a {
	@include hover {
		img {
			filter: none;
		}
	}
}
body > footer .logo {
	display: none;
}

// Widget links
.wp-block-tag-cloud a,
.widget_tag_cloud a {
	margin-right: 0.15em;
}
.wp-block-tag-cloud a,
.widget_tag_cloud a {
	margin-right: 0.25em;
	text-decoration-line: none;
	line-height: 1.1;

	@include hover {
		text-decoration-line: underline;
	}
}
.widget-container .wp-block-latest-posts {
	line-height: 1.3;
	font-size: 1em;

	> li {
		margin-bottom: 1em;
	}

	.wp-block-latest-posts__post-title {
		display: block;
		margin-bottom: 0.15em;
		text-decoration-line: none;

		@include hover {
			text-decoration-line: underline;
		}
	}
}
.page_title-meta,
.wp-block-latest-posts__post-meta {
	font-size: 0.75rem;
	letter-spacing: 0.02em;
	margin-bottom: 1em;

	> *::after {
		content: " | ";
		margin: 0 0.25em;
		opacity: 0.5;
	}

	> *:last-child::after {
		content: "";
		display: none;
	}
}
.wp-block-latest-posts__post-meta {
	margin-bottom: 0;

	.wp-block-latest-posts__post-date,
	.wp-block-latest-posts__post-author {
		display: inline;
	}
}

@import "./hc-offcanvas/_";

// Blog/press release post titles
.single-post .category-blog,
.single-post .category-podcast-insights,
.single-post .category-press-releease {
	.page_title h1 {
		font-size: 1.5rem;
	}
}

body > footer {
	-webkit-text-stroke: 0.35px rgba(0, 0, 0, 0.1);
}
