@supports (backdrop-filter: blur(.25em)) {
	body > .masthead {
		backdrop-filter: blur(.25em);
	}
}

body > .masthead .logo a  {
	@include hover {
		img {
			filter: none;
		}
	}
}
body > .footer .logo {
	display: none;
}


@import './hc-offcanvas/_';
