@supports (backdrop-filter: blur(.25em)) {
	body > .masthead {
		backdrop-filter: blur(.25em);
	}
}

body > .masthead .logo a  {
	@include hover {
		img {
			filter: none;
		}
	}
}
body > .footer .logo {
	display: none;
}

// Tag clouds
.wp-block-tag-cloud a,
.widget_tag_cloud a,
.widget-container .wp-block-latest-posts a {
	text-decoration: none;

	@include hover {
		text-decoration: underline;
	}
}

@import './hc-offcanvas/_';
